django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
psycopg2-binary
dj-database-url
python-decouple
django-filter
whitenoise
Pillow
gunicorn
django-cloudinary-storage
cloudinary
waitress
pyinstaller
twilio
